#profile article{
    display: flex;
    flex-flow: column;
    align-items: center;
}
#profile article img{
    border-radius: 100px;
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
}

#profile main{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.state {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 20px 0;
}

.state h1{
    margin-right: 20px;
}

#profile section{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.state div{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0 10px;
    box-shadow: var(--shadow);
    background-color: var(--bg);
    padding: 12px 20px;
    border-radius: 100px;
}

.state input{
    padding: 0;
    font-size: var(--small-text);
}

.state div:hover {
    border: 1px solid var(--main);
    margin: -1px 9px;
}

.state p {
    font-size: var(--small-text);
    margin-right: 10px;
}

.state select {
    border: none;
    border-radius: 10%;
}

#profile button{
    margin-top: 30px;
    margin-bottom: 5px;
}

#profile button:disabled{
    color: grey;
    border-color: grey;
}

#profile button:disabled:hover{
    background-color: transparent;
    cursor: not-allowed;
}

#profile header button{
    margin-top: 0px;
}

.states-control {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.states-control > * {
    margin: 0 25px;
}

.arrow-size {
    font-size: medium;
}

.ajs-ok{
    color: var(--main) !important;
}

.visibility input {
    margin: 0 15px 0 10px;
}

.visibility label {
    font-size: var(--small-text);
}

.default-messages {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.default-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: var(--shadow);
    background-color: var(--bg);
    padding: 12px 20px;
    border-radius: 100px;
    font-size: var(--small-text);
    margin-bottom: 20px;
}

.default-message > * {
    padding: 0;
}

.default-message > p {
    margin-right: 10px;
}

.default-message > input {
    font-size: var(--small-text);
}

.default-message:hover {
    border: 1px solid var(--main);
}

.input-default {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.input-default > p {
    font-size: var(--small-text);
}

.tracker-on {
    border-color: var(--green);
    color: var(--green);
}

.tracker-on:hover {
    border-color: var(--red);
    color: var(--bg);
    background-color: var(--red);
}

.tracker-off {
    border-color: var(--red);
    color: var(--red);
}

.tracker-off:hover {
    border-color: var(--green);
    color: var(--bg);
    background-color: var(--green);
}